h1 {
  color: green;
  font-style: italic;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid black;
  margin-bottom: 5px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.usersList {
  display: grid;
  grid-template-columns: 200px 200px;
  row-gap: 10px;
}

.usersHeader {
  font-weight: 800;
}

.usersListItem {
  display: contents;
}

.menuBar {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}